.form {
  width: 100%;
  height: 13%;
  display: flex;
  padding: 1rem;
  background-color: var(--color-accent);
}

.addBucket {
  flex: 1 0 auto;
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.button {
  cursor: pointer;
  background-color: var(--color-delete);
  color: var(--color-text);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
}

.button:hover {
  background-color: #b8cbf6;
}

.button.darkMode:hover {
  background-color: #67a4b3;
}
