.bucketlist {
  width: 80%;
  margin-left: 10%;
  height: 70%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-white);
}

.bucketlist.darkMode {
  background-color: var(--color-bg-dark);
}

.list {
  flex: 1 1 auto;
  overflow-y: auto;
}
